<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chronic Kidney Disease Prediction</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <nav class="navbar" aria-label="Main Navigation">
        <a href="{{ url_for('index') }}" class="logo">CKD Predictor</a>
        <ul class="links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="#aboutckd">About CKD</a></li>
            <li><a href="{{ url_for('predict') }}">Predict CKD</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section class="home">
        <div class="content">
            <h1>Chronic Kidney Disease </h1>
            <p>Your kidneys work hard to keep your body healthy — but sometimes, conditions like diabetes or high blood
                pressure can quietly put them at risk. <br>
                <strong>It only takes a minute to check how your kidneys are doing. Let’s take a quick look
                    together!</strong>
            </p>
            <a href="{{ url_for('predict')}}" class="cta-btn">Check My Kidney Health</a>
        </div>
        <div><img src="{{ url_for('static', filename = 'images/kidney.svg') }}" alt="Illustration of kidney" ></div>
    </section>

    <section id="aboutckd" class="aboutckd">
        <h1>Chronic Kidney Disease</h1>
        <div class="ckdvalues">
            <div>
                <h2>Causes of Chronic Kidney Disease</h2>
                <p>Diabetes and high blood pressure are the most common causes of chronic kidney disease in adults. Many
                    other conditions can also cause CKD in adults.</p>
            </div>
            <div>
                <h2>Tests & Diagnosis</h2>
                <p>Testing may be the only way to know if you have kidney disease. Get checked if you have diabetes,
                    high blood pressure, heart disease, or a family history of kidney failure. The sooner you know you
                    have kidney disease, the sooner you can get treatment.
                </p>
            </div>
            <div>
                <h2>Managing Chronic Kidney Disease</h2>
                <p>You can take steps to protect your kidneys. The most important step you can take to treat kidney
                    disease is to control your blood pressure. Healthy habits can also help you manage your kidney
                    disease.</p>
            </div>
            <div>
                <h2>Healthy Eating for Adults with Chronic Kidney Disease</h2>
                <p>Choosing healthy foods and drinks can help you feel better and help keep your kidneys healthier
                    longer. Work with a health care professional or registered dietitian to create a meal plan that
                    includes foods you enjoy and that can help protect your kidneys.</p>
            </div>
            <div>
                <h2>Preventing Chronic Kidney Disease</h2>
                <p>You are at risk for kidney disease if you have diabetes, high blood pressure, heart disease, or a
                    family history of kidney failure. If you have risk factors, get tested for kidney disease and
                    protect your kidneys by making healthy food choices, being more active, aiming for a healthy weight,
                    and managing health conditions that cause kidney damage.</p>
            </div>
            <div>
                <h2>What if My Kidneys Fail?</h2>
                <p>
                    Kidney failure means that your kidneys have lost most of their ability to function. Work with your
                    health care team and family to consider your options to replace your lost kidney function, such as
                    dialysis or transplant. Choose a treatment that is right for you.</p>
            </div>
        </div>
    </section>
</body>

</html>