<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chronic Kidney Disease Prediction</title>
    <link rel="stylesheet" href="/static/css/predict.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="logo">CKD Predictor</a>
        <ul class="links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="#aboutckd">About CKD</a></li>
            <li><a href="{{ url_for('predict') }}">Predict CKD</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section>
        <h1>🔬 Kidney Disease Prediction</h1>

        <div class="grid-wrapper">

            <div class="form-container block">
                <h2>Enter Patient Details Below</h2>
                <form action="/predict" method="POST">

                    <div class="form-row">
                        <div class="form-group">
                            <label for="sg">Specific Gravity (sg) </label>
                            <input type="number" id="sg" name="sg" step="0.001" min="1.005" max="1.025" value="1.005"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="hemo">Hemoglobin (g/dL) </label>
                            <input type="number" id="hemo" name="hemo" step="0.1" min="3.0" max="17.0" value="13"
                                required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="rc">RBC Count (millions/cmm)</label>
                            <input type="number" id="rc" name="rc" step="0.1" min="2.0" max="7.0" value="3.5" required>
                        </div>

                        <div class="form-group">
                            <label for="pc">Pus Cell </label>
                            <select id="pc" name="pc">
                                <option value="0" selected>Normal</option>
                                <option value="1">Abnormal</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="htn">Hypertension</label>
                            <select id="htn" name="htn">
                                <option value="0" selected>No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="dm">Diabetes Mellitus</label>
                            <select id="dm" name="dm">
                                <option value="0" selected>No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="al">Albumin</label>
                        <select id="al" name="al" required>
                            <option value="">-- Select Albumin Level --</option>
                            <option value="0">0 - None</option>
                            <option value="1">1 - Trace</option>
                            <option value="2">2 - Mild</option>
                            <option value="3">3 - Moderate</option>
                            <option value="4">4 - Heavy</option>
                            <option value="5">5 - Very Heavy</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="appet">Appetite</label>
                        <select id="appet" name="appet">
                            <option value="1">Good</option>
                            <option value="0">Poor</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="model-buttons">
                            <legend><strong>Choose a Model</strong></legend>
                            <input type="radio" id="RandomForest" name="model" value="RandomForest" checked>
                            <label for="RandomForest">Random Forest</label>
                            <input type="radio" id="AdaBoost" name="model" value="AdaBoost">
                            <label for="AdaBoost">AdaBoost</label>
                            <input type="radio" id="GradientBoosting" name="model" value="GradientBoosting">
                            <label for="GradientBoosting">Gradient Boosting</label>
                        </div>
                    </div>


                    <button type="submit">Predict CKD</button>
                    {% if prediction %}
                    <div class="result">
                        <h3>Prediction Result:</h3>
                        <p><strong>{{ prediction }}</strong></p>
                    </div>
                    {% endif %}

                </form>

            </div>

            <div class="parameter-info block" id="parameterInfo">
                <h2 id="inputParameter">Parameter</h2>
                <p id="paramText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero rem hic alias aliquam
                    omnis
                    sapiente, laboriosam ipsam repellendus asperiores commodi!</p>
            </div>

        </div>
    </section>

    <script src="{{url_for('static', filename= 'script.js')}}"></script>
</body>

</html>